body {
  background-color: rgb(122, 122, 210);
}

img {
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

h1 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.carousel {
  margin-bottom: 5rem;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-body {
  margin-bottom: 3rem;
}
