<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <!-- Brand Info -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase fw-bold">Siege Strat</h5>
        <p>Your trusted source for Rainbow Six Siege strats and winning.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-semibold mb-3">Quick Links</h6>
        <ul class="list-unstyled">
          <li>
            <a
              href="{{ url_for('web.project') }}"
              class="text-light text-decoration-none"
              >Strategies</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('web.strat') }}"
              class="text-light text-decoration-none"
              >Maps</a
            >
          </li>
          <li>
            <a href="#" class="text-light text-decoration-none">Characters</a>
          </li>
          <li>
            <a href="#" class="text-light text-decoration-none">Sign Up</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-semibold mb-3">Contact Us</h6>
        <p class="mb-1">Email:</p>
      </div>
    </div>
  </div>
</footer>
